.favicon {
	padding-right: 4px;
	vertical-align: middle;
	border: none;
}
#res .favicon {
	left: 0;
	position: absolute;
	top: 2px;
	z-index: 9;
}
li.g,
div.g {
	position: relative;
	padding-left: 20px !important;
}
div.vsc {
	position: relative;
}
div.vsc * {
	position: static;
}
div.vsc img.favicon {
	position: absolute;
	top: 0;
	left: -20px !important;
}
