.favicon {
	padding-right: 4px;
	vertical-align: middle;
	border: none;
}
#res .favicon {
	left: -20px;
	position: absolute;
	top: 2px;
	z-index: 9;
}
div.vsc {
	position: relative;
}
div.vsc img.favicon {
	position: absolute !important;
	top: 0;
	left: -20px !important;
}
